html {
    display: block;
}
body {

    background-color: rgba(255, 255, 255, 0.80);
}


.navbar-right{
    padding-right: 2%;
}


.jumbotron{
    background-color: rgba(255, 255, 255, 0.80);

}

.socialmedia{
    float: left;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
}
#footer{
    padding: 1%;
    width: 100%;
    min-height: 7%;
    height: auto;
    border-top: 1px solid #000000;
}
.footerAccent{
    color: #82C6F1;
}
.titel{
    text-align: center;
    padding-top: 7%;
}

@media (min-width:0px) and (max-width:768px) {
    .image-header{

        background:  url("content/images/Background.jpg")no-repeat 0 0;
        height: 20%;
        background-position:  center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin: 0 auto;
        margin-top: 0;
    }

    .titel{
        pading-top: 10px;
        font-size: 18px;
        text-align: center;

        color: #ffffff;
        text-align: center;

}
    h3{
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        font: bolder;
        text-transform: uppercase;
    }
    h2{
        font-size: 18px;
        font-family: helvetica, arial;
        padding-bottom: 1%;
        padding-top: 1.5%;
    }
    .navbar-right{
        border-top: 1px solid #000000;

    }
}
@media (min-width:768px) and (max-width:992px ) {
    .image-header{

        background:  url("content/images/Background.jpg")no-repeat 0 0;
        height: 30%;
        background-position:  center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin: 0 auto;
        margin-top: 0;
    }


    .titel{
        font-size: 30px;
        padding-top: 6%;
        color: #ffffff;
        text-align: center;

    }
    h3{
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        font: bolder;
        text-transform: uppercase;
    }
    h2{
        font-size: 22px;
        font-family: helvetica, arial;
        padding-bottom: 1%;
        padding-top: 1.5%;
    }
}
@media (min-width:992px) and (max-width: 1200px) {
    .image-header{

        background:  url("content/images/Background.jpg")no-repeat 0 0;
        height: 35%;
        background-position:  center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin: 0 auto;
        margin-top: 0;
    }

    .titel{
        font-size: 32px;
        padding-top: 6%;
        color: #ffffff;
        text-align: center;

    }
    h3{
        font-size: 24px;
        text-align: center;
        color: #ffffff;
        font: bolder;
        text-transform: uppercase;
    }
    h2{
        font-size: 28px;
        font-family: helvetica, arial;
        padding-bottom: 1%;
        padding-top: 1.5%;
    }
}
@media (min-width:1200px) {
    .image-header{

        background:  url("content/images/Background.jpg")no-repeat 0 0;
        height: 35%;
        background-position:  center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin: 0 auto;
        margin-top: 0;
    }

    .titel{
        font-size: 38px;
        padding-top: 4%;
        color: #ffffff;
        text-align: center;

    }
    h3{
        font-size: 28px;
        text-align: center;
        color: #ffffff;
        font: bolder;
        text-transform: uppercase;
    }
    h2{
        font-size: 32px;
        font-family: helvetica, arial;
        padding-bottom: 1%;
        padding-top: 1.5%;
    }
}

.nav li{
    position: relative;
    display: block;
}

.entry-header{
    margin: 0;
    padding: 0;
}
.image-header {
    margin-bottom: 0;
    padding-bottom: 0px;
}

.wpcf7 input[type="text"]{
    width: 100%;
}
.wpcf7 input[type="email"]{
    width: 100%;
}
.wpcf7 textarea{
    width: 100%;
}
.screen-reader-response{
    display: none;
}
.wpcf7-response-output{
    display: none;
}
. wpcf7-validation-errors{
    display: none;
}
.wpcf7-not-valid-tip{
    color: #82C6F1;
}
.wpcf7 p{
    font-weight: bold;
}
.wpcf7 p span {
    font-weight: normal;
}
.entry-title{
    color: #2A4D73
}




.wpcf7-submit{

    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

    color: #fff;
    background-color: #2A4D73;
    border-color: #ccc;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

h4{
    border-bottom: 1px solid #2A4D73 ;
}
.entrytitle{
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #2A4D73 ;
}

.entry-title{
    color: #2A4D73;
    margin-top: 0;!important
    padding-top: 0;!important
    text-align: center;
}
.posts{

    padding: 2%;
    margin: 1%;
}
.titelbalk{

    border-bottom: 3px solid #2A4D73;
    padding: 0.2%;
    text-align: center;
}

.navigationarrows{
    margin: 0 auto;
}
.navigationarrows li {
    display: inline-block;
    padding: 0.5%;
    padding-left: 0;
    margin: 1%;
    margin-left: 0;

}

.ssba img {
    width: 30px;
    margin: 1%;

}

.blogdate{
    color: gray;
    font-style: italic;
}
.comment-body{
   border-left: 2px solid #2A4D73;
    padding-left: 1%;
    margin-bottom: 2%;
    margin-left: 1.5%;
}

.comment{
    list-style: none;
}
.comment-edit-link{
    display: none;
}
.comment-reply-title{
    color: #000000;
    text-align: left;
    margin-top: 3%;
}
.logged-in-as{
    float: right;
}
#comment{
    box-sizing: border-box;
    width: 100%;
}
#submit{
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #2A4D73;
    border-color: #ccc;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
#author, #email, #url{
    width: 100%;
}

.portfoliotitel{
    padding-top: 2%;!important
}

.websiteinfo{
    text-align: center;
}
.videoblok{
    padding: 2%;
    margin: 0 auto;
}

.homeblok1{
    background-color: rgba(0, 125, 232, 0.58);
    border: 1px solid #ffffff;
    height: 50vh;

}
.homeblok2{
    background-color: rgba(0, 192, 255, 0.30);
    border: 1px solid #ffffff;
    height: 50vh;

}
.homeblok3{
    background-color: rgba(0, 75, 255, 0.6);
    border: 1px solid #ffffff;
    height: 50vh;


}
.homeblok4{
    background-color: rgba(0, 249, 255, 0.30);
    border: 1px solid #ffffff;
    height: 50vh;

}


h5{
    font-size: 32px;
}
.newsletter-email{
    width: 100%;!important

}
.newsletter-submit{
    margin-top: 3%;
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #2A4D73;
    border-color: #ccc;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
table{
    width: 100%;
}
.newsletter-td-privacy{
    margin-top: 2%;
    padding-top:2%;
}
.tekstje{
    margin-top: 2%;
    margin-bottom: 2%;
}
.more-link{
    display: none;
}