/* ==============================================
   HELPER CLASSES
   ============================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==============================================
   WEBFONTS
   ============================================== */

/* ==============================================
   GLOBAL STYLES
   ============================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   RESPONSIVE STYLES
   ========================================================================== */


/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* ==============================================
   GLOBAL CLASSES
   ============================================== */
#main-navigation .menu-toggle{
    display: block;
    background: #000 url('http://localhost:8080/wordpress/wp-content/themes/Robby VandenBroecke_opdracht2/images/toggle.png') no-repeat right;
    color: #fff;
    padding: 8px 12px;
    text-transform: uppercase;

    cursor: hand;
    cursor: pointer;
}
#main-navigation{
    padding: 0px;
}
#main-navigation ul{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}


.wrapper{
    margin:0;
    padding:0;
}
.container{
    max-width:1140px;
    margin:0 auto;

    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/

}
.container:before,
.container:after{
    display:table;
    content:" ";
}
.container:after{
    clear:both;
}
.row:before,
.row:after{
    display:table;
    content:" ";
}
.row:after{
    clear:both;
}
.col{
    float:left;
    position:relative;
    min-height:1px;
    margin:1.041666%;
    padding:1.041666%;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
    overflow:hidden;

//height:120px;/*NOT DONE --> BUT NOW UNIT TESTING!!!!*/
}
.col-sc1-12{width:97.91666%;}
.col-sc1-11{width:89.58333%;}
.col-sc1-10{width:81.25%;}
.col-sc1-9{width:72.91666%;}
.col-sc1-8{width:64.58333%;}
.col-sc1-7{width:56.25%;}
.col-sc1-6{width:47.91666%;}
.col-sc1-5{width:39.58333%;}
.col-sc1-4{width:31.25%;}
.col-sc1-3{width:22.91666%;}
.col-sc1-2{width:14.58333%;}
.col-sc1-1{width:6.25%;}

@media( min-width: 480px) {
    .col-sc2-12{width:97.91666%;}
    .col-sc2-11{width:89.58333%;}
    .col-sc2-10{width:81.25%;}
    .col-sc2-9{width:72.91666%;}
    .col-sc2-8{width:64.58333%;}
    .col-sc2-7{width:56.25%;}
    .col-sc2-6{width:47.91666%;}
    .col-sc2-5{width:39.58333%;}
    .col-sc2-4{width:31.25%;}
    .col-sc2-3{width:22.91666%;}
    .col-sc2-2{width:14.58333%;}
    .col-sc2-1{width:6.25%;}
    .col-sc2-0{width: 16.66%;}

}

@media( min-width: 768px) {
    .col-sc3-12{width:97.91666%;}
    .col-sc3-11{width:89.58333%;}
    .col-sc3-10{width:81.25%;}
    .col-sc3-9{width:72.91666%;}
    .col-sc3-8{width:64.58333%;}
    .col-sc3-7{width:56.25%;}
    .col-sc3-6{width:47.91666%;}
    .col-sc3-5{width:39.58333%;}
    .col-sc3-4{width:31.25%;}
    .col-sc3-3{width:22.91666%;}
    .col-sc3-2{width:14.58333%;}
    .col-sc3-1{width:6.25%;}
    .col-sc3-0{width: 16.66%;}

}

@media( min-width: 1024px) {
    .col-sc4-12{width:97.91666%;}
    .col-sc4-11{width:89.58333%;}
    .col-sc4-10{width:81.25%;}
    .col-sc4-9{width:72.91666%;}
    .col-sc4-8{width:64.58333%;}
    .col-sc4-7{width:56.25%;}
    .col-sc4-6{width:47.91666%;}
    .col-sc4-5{width:39.58333%;}
    .col-sc4-4{width:31.25%;}
    .col-sc4-3{width:22.91666%;}
    .col-sc4-2{width:14.58333%;}
    .col-sc4-1{width:6.25%;}
    .col-sc4-0{width: 16.66%;}

}

@media( min-width: 1200px) {
    .col-sc5-12{width:97.91666%;}
    .col-sc5-11{width:89.58333%;}
    .col-sc5-10{width:81.25%;}
    .col-sc5-9{width:72.91666%;}
    .col-sc5-8{width:64.58333%;}
    .col-sc5-7{width:56.25%;}
    .col-sc5-6{width:47.91666%;}
    .col-sc5-5{width:39.58333%;}
    .col-sc5-4{width:31.25%;}
    .col-sc5-3{width:22.91666%;}
    .col-sc5-2{width:14.58333%;}
    .col-sc5-1{width:6.25%;}
    .col-sc5-0{width: 16.66%;}

}
/* =======================================
SCROLTOTOP
========================*/


.scrolltotop{
    width: 48px;
    height: 48px;
    position: fixed;
    right: 8px;
    bottom: 8px;
    background: url(http://localhost:8080/wordpress/wp-content/themes/Robby VandenBroecke_opdracht2/images/scrolltotop.png) no-repeat;
    text-indent: -999em;
    opacity: 0.68;
    cursor: hand;
    cursor: pointer;

}



/* =====================================
HEADER STYLES
=====================================*/

#main-navigation{
    padding: 0%;
    background-color: black;

}

#main-navigation ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#main-navigation li {
    float: left;

}
#main-navigation ul li a{
    display: block;
    min-height: 32px;
    line-height: 32px;
    padding: 0 12px;
    text-decoration: none;
    color: #FCF644;
    text-align: center;
    font-size: 18px;
}
@media (min-width: 0px)and (max-width: 480px) {
    #sidebar-right{
        float: right;
        width: 100%;
        background-color: #ADA1A0;

    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }

}


@media (min-width: 480px){
    #main-navigation ul {
        display: block;
    }
    #main-navigation .menu-toggle{
        display: none;
    }
    .active li{
        list-style: none;
    }

}

@media ( min-width: 480px) and (max-width: 767px) {

    #sidebar-right{
        float: right;
        width: 40%;
        background-color: #ADA1A0;

    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size:20px;
    }

}
@media ( min-width: 768px)  {
    #sidebar-right{
        float: right;
        width: 30%;
        background-color: #ADA1A0;

    }

    h1{
        font-size: 28px;
    }
}


#header-wrapper{
    background:#fff;
}
#header{
    background:#fff;
}
#main-wrapper{
    background:#fff;
}
#main-container{
    background-color: #fff;

}
#footer-wrapper{
    background:#fff;
}
#footer{
    background:#000;
    max-width:1140px;
    margin:0 auto;

    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
    overflow: hidden;
}
h1{
    color: #BF0F0F;
    overflow: hidden;
    background-color: #000;
    padding: 0;
    margin: 0;
    text-align: center;
}
.hoofding {
    float:left;
    position:relative;
    min-height:1px;
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
    overflow:hidden;
    background:#000;
    width: 100%;

}
.even{
    background-color: rgba(237,237,230,1);
    overflow: hidden;
    padding: 2%;
}
.oneven{
    background-color: rgba(237,237,230,0.3);
    overflow: hidden;
    padding: 2%;
}


h2{
    color: #BF0F0F;
}


.footertekst{
    color: #F2E30F;
}
footer p {
    color: #fff;
}

.navigatie{
    float:left;
    position:relative;
    min-height:1px;
    width: 100%;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
    overflow:hidden;
}


#sidebar-right p {
    padding-left:3%;
}
#sidebar-right h3{
    padding-left:2%;
}